<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>APCOS超级工作站云平台</title>
    <link rel="shortcut icon" href="/img/jx.png" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../js/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/xadmin.js"></script>
    <script type="text/javascript" src="../js/qrcode.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        var is_remember = false;
        function addTab(obj) {
            var url = $(obj).attr("url");
            var rightName = $(obj).attr("rightName");
            xadmin.add_tab(rightName,url,true);
        }
    </script>
</head>
<body class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="javascript:void(0)" style="width: 300px">APCOS公共应用操作平台</a>
    </div>
    <!--    <div class="left_open">-->
    <!--        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>-->
    <!--    </div>-->
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item"><a href="javascript:;">[[${user.userAccount}]]</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="xadmin.open('个人信息','/html/sysUser/userDetail.html','600')">个人信息</a>
                </dd>
                <dd>
                    <a onclick="xadmin.open('修改密码','/html/sysUser/editPassword.html','400','300')">修改密码</a>
                </dd>
                <dd>
                    <a href="/index/logout">切换帐号</a>
                </dd>
                <dd>
                    <a href="/index/logout">退出</a>
                </dd>
            </dl></li>
        <li class="layui-nav-item"><a href="javascript:;" >客户端下载</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a href="javascript:;" onclick="showURL('Android')">安卓下载</a>
                </dd>
                <!--<dd>-->
                    <!--<a href="javascript:;" onclick="showURL('iOS')">苹果下载</a>-->
                <!--</dd>-->
            </dl>
        </li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->

<div class="left-nav" STYLE="OVERFLOW-y:scroll" >
    <div id="side-nav"  >
        <ul id="nav" >
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="订阅管理">&#xe6b8;</i>
                    <cite>订阅管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('BCCA授权账号','/html/accountManage/listAccount.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>BCCA授权账号</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="订阅管理">&#xe6b8;</i>
                    <cite>设备管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('设备管理','/html/productManage/productManage.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>设备管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('设备类型','/html/productManage/productType.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>设备类型</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('模式管理','/html/productManage/listmyms.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>模式管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('执行计划','/html/productManage/listPlan.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>执行计划</cite></a>
                    </li>
                    <!--<li>-->
                        <!--<a onclick="xadmin.add_tab('BCCA服务接入','/html/productManage/bccaService.html')">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>BCCA服务接入</cite></a>-->
                    <!--</li>-->
                    <li>
                        <a onclick="xadmin.add_tab('设备上报信息','/html/productManage/listReMessage.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>设备上报信息</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="3D可视化">&#xe6b8;</i>
                    <cite>3D可视化</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <!--<li>-->
                        <!--<a onclick="xadmin.add_tab('3D服务信息','/html/3dService/3dServiceInfo.html')">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--<cite>3D服务信息</cite></a>-->
                    <!--</li>-->
                    <li>
                        <a onclick="xadmin.add_tab('设备元件查询','/html/3dService/list3Dyj.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>设备元件查询</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('3D工作站','/html/3dService/3dWorkSpace.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>3D工作站</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('在线设计','/html/3dService/workOnLine.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>在线设计</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="服务信息完善">&#xe6b8;</i>
                    <cite>服务信息完善</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('服务信息完善','/html/serviceInfo/serviceInfo.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>服务信息完善</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="APP端UI模板">&#xe6b8;</i>
                    <cite>APP端UI模板</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('UI模板测试','/html/productManage/uiModelTest.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>UI模板测试</cite></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
        </ul>
        <div class="layui-unselect layui-form-select layui-form-selected"
             id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd>
            </dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/html/welcome1.html' frameborder="0" scrolling="yes"
                        class="x-iframe"></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<style id="theme_style"></style>
<script type="text/javascript">
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        render: "canvas", //也可以替换为table
        // // text: encodeURI(path),
        // text: path,
        width: 256,
        height: 256,
        iconSrc: "/img/nav_logo.png",
        // typeNumber:-1,
        //二维码中心图片边框弧度
        iconRadius: 10,
        //二维码中心图片边框宽度
        iconBorderWidth: 1,
        //二维码中心图片边框颜色
        iconBorderColor: "red",
    });
    function showURL(value) {
        qrcode.clear();
        // $.ajax({
        //     url: '/appVersion/getAppPath.json?type=' + value,
        //     dataType: 'json',
        //     type: 'GET',
        //     async: false,
        //     success: function (data) {
        //         if (data.status == 200) {
        //             qrcode.makeCode(encodeURI(data.data))
        //         } else {
        //             qrcode.makeCode(("暂未发布，敬请期待！"))
        //         }
        //     }
        // });

        //qrcode.makeCode(("http://113.204.9.70:8084/data/nfs2/app/APCOS公共操作平台v1.0.12.apk"));
        //页面层-图片
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            area: ['auto'],
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            // content: $("#qrcode")
            content: '<img src="/img/app.png" style="width: 300px;height: 300px">'
        });


    }

    function utf16to8(str) {
        var out, i, len, c;
        out = "";
        len = str.length;
        for(i = 0; i < len; i++) {
            c = str.charCodeAt(i);
            if ((c >= 0x0001) && (c <= 0x007F)) {
                out += str.charAt(i);
            } else if (c > 0x07FF) {
                out += String.fromCharCode(0xE0 | ((c >> 12) & 0x0F));
                out += String.fromCharCode(0x80 | ((c >>  6) & 0x3F));
                out += String.fromCharCode(0x80 | ((c >>  0) & 0x3F));
            } else {
                out += String.fromCharCode(0xC0 | ((c >>  6) & 0x1F));
                out += String.fromCharCode(0x80 | ((c >>  0) & 0x3F));
            }
        }
        return out;
    }
</script>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
</body>
</html>
