<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superwork.apcosplatform.mapper.PAppColumnMapper">
  <resultMap id="BaseResultMap" type="com.superwork.apcosplatform.domain.PAppColumn">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="EDIT_ID" jdbcType="VARCHAR" property="editId" />
    <result column="EDIT_TIME" jdbcType="DATE" property="editTime" />
    <result column="ATTR1" jdbcType="VARCHAR" property="attr1" />
    <result column="ATTR2" jdbcType="VARCHAR" property="attr2" />
    <result column="ATTR3" jdbcType="VARCHAR" property="attr3" />
    <result column="CREATENAME" jdbcType="VARCHAR" property="createName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, TITLE, CREATE_TIME, CREATE_ID, EDIT_ID, EDIT_TIME, ATTR1, ATTR2, ATTR3
  </sql>
  <select id="selectByExample" parameterType="com.superwork.apcosplatform.domain.PAppColumnExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from P_APP_COLUMN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from P_APP_COLUMN
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from P_APP_COLUMN
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.superwork.apcosplatform.domain.PAppColumnExample">
    delete from P_APP_COLUMN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.superwork.apcosplatform.domain.PAppColumn">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      select P_APP_COLUMN_SEQ.NEXTVAL from dual
    </selectKey>
    insert into P_APP_COLUMN (ID, TITLE, CREATE_TIME, 
      CREATE_ID, EDIT_ID, EDIT_TIME, 
      ATTR1, ATTR2, ATTR3
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{createId,jdbcType=VARCHAR}, #{editId,jdbcType=VARCHAR}, #{editTime,jdbcType=DATE}, 
      #{attr1,jdbcType=VARCHAR}, #{attr2,jdbcType=VARCHAR}, #{attr3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.superwork.apcosplatform.domain.PAppColumn">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      select P_APP_COLUMN_SEQ.NEXTVAL from dual
    </selectKey>
    insert into P_APP_COLUMN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="title != null">
        TITLE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="editId != null">
        EDIT_ID,
      </if>
      <if test="editTime != null">
        EDIT_TIME,
      </if>
      <if test="attr1 != null">
        ATTR1,
      </if>
      <if test="attr2 != null">
        ATTR2,
      </if>
      <if test="attr3 != null">
        ATTR3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=VARCHAR},
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="editId != null">
        #{editId,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=DATE},
      </if>
      <if test="attr1 != null">
        #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null">
        #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null">
        #{attr3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.superwork.apcosplatform.domain.PAppColumnExample" resultType="java.lang.Long">
    select count(*) from P_APP_COLUMN
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update P_APP_COLUMN
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.createId != null">
        CREATE_ID = #{record.createId,jdbcType=VARCHAR},
      </if>
      <if test="record.editId != null">
        EDIT_ID = #{record.editId,jdbcType=VARCHAR},
      </if>
      <if test="record.editTime != null">
        EDIT_TIME = #{record.editTime,jdbcType=DATE},
      </if>
      <if test="record.attr1 != null">
        ATTR1 = #{record.attr1,jdbcType=VARCHAR},
      </if>
      <if test="record.attr2 != null">
        ATTR2 = #{record.attr2,jdbcType=VARCHAR},
      </if>
      <if test="record.attr3 != null">
        ATTR3 = #{record.attr3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update P_APP_COLUMN
    set ID = #{record.id,jdbcType=VARCHAR},
      TITLE = #{record.title,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=DATE},
      CREATE_ID = #{record.createId,jdbcType=VARCHAR},
      EDIT_ID = #{record.editId,jdbcType=VARCHAR},
      EDIT_TIME = #{record.editTime,jdbcType=DATE},
      ATTR1 = #{record.attr1,jdbcType=VARCHAR},
      ATTR2 = #{record.attr2,jdbcType=VARCHAR},
      ATTR3 = #{record.attr3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.superwork.apcosplatform.domain.PAppColumn">
    update P_APP_COLUMN
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="editId != null">
        EDIT_ID = #{editId,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        EDIT_TIME = #{editTime,jdbcType=DATE},
      </if>
      <if test="attr1 != null">
        ATTR1 = #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null">
        ATTR2 = #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null">
        ATTR3 = #{attr3,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.superwork.apcosplatform.domain.PAppColumn">
    update P_APP_COLUMN
    set TITLE = #{title,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      EDIT_ID = #{editId,jdbcType=VARCHAR},
      EDIT_TIME = #{editTime,jdbcType=DATE},
      ATTR1 = #{attr1,jdbcType=VARCHAR},
      ATTR2 = #{attr2,jdbcType=VARCHAR},
      ATTR3 = #{attr3,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="listColumn" parameterType="com.superwork.apcosplatform.domain.PAppColumn" resultMap="BaseResultMap">
    SELECT A.*,B.USER_ACCOUNT CREATENAME FROM  P_APP_COLUMN A LEFT OUTER JOIN P_SYS_USER B ON
              A.CREATE_ID = B.USER_ID WHERE 1=1
          <if test="title !=null and title != '' ">
            AND A.TITLE LIKE '%'||#{title}||'%'
          </if>
          ORDER BY A.CREATE_TIME DESC
  </select>

  <select id="listCommonProblem" resultMap="BaseResultMap">
    SELECT distinct A.* FROM p_app_column A LEFT OUTER JOIN p_app_commonpro B ON B.columu_id = A.ID
    WHERE 1=1
        <if test="query !=null and query != ''"  >
         AND B.PRO_TITLE LIKE '%'||#{query}||'%'
        </if>


  </select>
</mapper>