<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superwork.apcosplatform.mapper.PZnsbMszhMapper">
  <resultMap id="BaseResultMap" type="com.superwork.apcosplatform.domain.PZnsbMszh">
    <id column="MSZH_ID" jdbcType="VARCHAR" property="mszhId" />
    <result column="MSZH_MC" jdbcType="VARCHAR" property="mszhMc" />
    <result column="MSZH_GJZ" jdbcType="VARCHAR" property="mszhGjz" />
    <result column="MSZH_ZT" jdbcType="VARCHAR" property="mszhZt" />
    <result column="ATTR_1" jdbcType="VARCHAR" property="attr1" />
    <result column="ATTR_2" jdbcType="VARCHAR" property="attr2" />
    <result column="ATTR_3" jdbcType="VARCHAR" property="attr3" />
    <result column="ATTR_4" jdbcType="VARCHAR" property="attr4" />
    <result column="CREATOR_ID" jdbcType="VARCHAR" property="creatorId" />
    <result column="CREATED_TIME" jdbcType="DATE" property="createdTime" />
    <result column="EDITOR_ID" jdbcType="VARCHAR" property="editorId" />
    <result column="EDITED_TIME" jdbcType="DATE" property="editedTime" />
    <result column="BELONG_ORG_ID" jdbcType="VARCHAR" property="belongOrgId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    MSZH_ID, MSZH_MC, MSZH_GJZ, MSZH_ZT, ATTR_1, ATTR_2, ATTR_3, ATTR_4, CREATOR_ID, 
    CREATED_TIME, EDITOR_ID, EDITED_TIME, BELONG_ORG_ID
  </sql>
  <select id="selectByExample" parameterType="com.superwork.apcosplatform.domain.PZnsbMszhExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from P_ZNSB_MSZH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from P_ZNSB_MSZH
    where MSZH_ID = #{mszhId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from P_ZNSB_MSZH
    where MSZH_ID = #{mszhId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.superwork.apcosplatform.domain.PZnsbMszhExample">
    delete from P_ZNSB_MSZH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.superwork.apcosplatform.domain.PZnsbMszh">
    <selectKey keyProperty="mszhId" order="BEFORE" resultType="java.lang.String">
      select P_ZNSB_MSZH_SEQ.NEXTVAL from dual
    </selectKey>
    insert into P_ZNSB_MSZH (MSZH_ID, MSZH_MC, MSZH_GJZ, 
      MSZH_ZT, ATTR_1, ATTR_2, 
      ATTR_3, ATTR_4, CREATOR_ID, 
      CREATED_TIME, EDITOR_ID, EDITED_TIME, 
      BELONG_ORG_ID)
    values (#{mszhId,jdbcType=VARCHAR}, #{mszhMc,jdbcType=VARCHAR}, #{mszhGjz,jdbcType=VARCHAR}, 
      #{mszhZt,jdbcType=VARCHAR}, #{attr1,jdbcType=VARCHAR}, #{attr2,jdbcType=VARCHAR}, 
      #{attr3,jdbcType=VARCHAR}, #{attr4,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR}, 
      #{createdTime,jdbcType=DATE}, #{editorId,jdbcType=VARCHAR}, #{editedTime,jdbcType=DATE}, 
      #{belongOrgId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.superwork.apcosplatform.domain.PZnsbMszh">
    <selectKey keyProperty="mszhId" order="BEFORE" resultType="java.lang.String">
      select P_ZNSB_MSZH_SEQ.NEXTVAL from dual
    </selectKey>
    insert into P_ZNSB_MSZH
    <trim prefix="(" suffix=")" suffixOverrides=",">
      MSZH_ID,
      <if test="mszhMc != null">
        MSZH_MC,
      </if>
      <if test="mszhGjz != null">
        MSZH_GJZ,
      </if>
      <if test="mszhZt != null">
        MSZH_ZT,
      </if>
      <if test="attr1 != null">
        ATTR_1,
      </if>
      <if test="attr2 != null">
        ATTR_2,
      </if>
      <if test="attr3 != null">
        ATTR_3,
      </if>
      <if test="attr4 != null">
        ATTR_4,
      </if>
      <if test="creatorId != null">
        CREATOR_ID,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="editorId != null">
        EDITOR_ID,
      </if>
      <if test="editedTime != null">
        EDITED_TIME,
      </if>
      <if test="belongOrgId != null">
        BELONG_ORG_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{mszhId,jdbcType=VARCHAR},
      <if test="mszhMc != null">
        #{mszhMc,jdbcType=VARCHAR},
      </if>
      <if test="mszhGjz != null">
        #{mszhGjz,jdbcType=VARCHAR},
      </if>
      <if test="mszhZt != null">
        #{mszhZt,jdbcType=VARCHAR},
      </if>
      <if test="attr1 != null">
        #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null">
        #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null">
        #{attr3,jdbcType=VARCHAR},
      </if>
      <if test="attr4 != null">
        #{attr4,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=DATE},
      </if>
      <if test="editorId != null">
        #{editorId,jdbcType=VARCHAR},
      </if>
      <if test="editedTime != null">
        #{editedTime,jdbcType=DATE},
      </if>
      <if test="belongOrgId != null">
        #{belongOrgId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.superwork.apcosplatform.domain.PZnsbMszhExample" resultType="java.lang.Long">
    select count(*) from P_ZNSB_MSZH
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update P_ZNSB_MSZH
    <set>
      <if test="record.mszhId != null">
        MSZH_ID = #{record.mszhId,jdbcType=VARCHAR},
      </if>
      <if test="record.mszhMc != null">
        MSZH_MC = #{record.mszhMc,jdbcType=VARCHAR},
      </if>
      <if test="record.mszhGjz != null">
        MSZH_GJZ = #{record.mszhGjz,jdbcType=VARCHAR},
      </if>
      <if test="record.mszhZt != null">
        MSZH_ZT = #{record.mszhZt,jdbcType=VARCHAR},
      </if>
      <if test="record.attr1 != null">
        ATTR_1 = #{record.attr1,jdbcType=VARCHAR},
      </if>
      <if test="record.attr2 != null">
        ATTR_2 = #{record.attr2,jdbcType=VARCHAR},
      </if>
      <if test="record.attr3 != null">
        ATTR_3 = #{record.attr3,jdbcType=VARCHAR},
      </if>
      <if test="record.attr4 != null">
        ATTR_4 = #{record.attr4,jdbcType=VARCHAR},
      </if>
      <if test="record.creatorId != null">
        CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        CREATED_TIME = #{record.createdTime,jdbcType=DATE},
      </if>
      <if test="record.editorId != null">
        EDITOR_ID = #{record.editorId,jdbcType=VARCHAR},
      </if>
      <if test="record.editedTime != null">
        EDITED_TIME = #{record.editedTime,jdbcType=DATE},
      </if>
      <if test="record.belongOrgId != null">
        BELONG_ORG_ID = #{record.belongOrgId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update P_ZNSB_MSZH
    set MSZH_ID = #{record.mszhId,jdbcType=VARCHAR},
      MSZH_MC = #{record.mszhMc,jdbcType=VARCHAR},
      MSZH_GJZ = #{record.mszhGjz,jdbcType=VARCHAR},
      MSZH_ZT = #{record.mszhZt,jdbcType=VARCHAR},
      ATTR_1 = #{record.attr1,jdbcType=VARCHAR},
      ATTR_2 = #{record.attr2,jdbcType=VARCHAR},
      ATTR_3 = #{record.attr3,jdbcType=VARCHAR},
      ATTR_4 = #{record.attr4,jdbcType=VARCHAR},
      CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
      CREATED_TIME = #{record.createdTime,jdbcType=DATE},
      EDITOR_ID = #{record.editorId,jdbcType=VARCHAR},
      EDITED_TIME = #{record.editedTime,jdbcType=DATE},
      BELONG_ORG_ID = #{record.belongOrgId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.superwork.apcosplatform.domain.PZnsbMszh">
    update P_ZNSB_MSZH
    <set>
      <if test="mszhMc != null">
        MSZH_MC = #{mszhMc,jdbcType=VARCHAR},
      </if>
      <if test="mszhGjz != null">
        MSZH_GJZ = #{mszhGjz,jdbcType=VARCHAR},
      </if>
      <if test="mszhZt != null">
        MSZH_ZT = #{mszhZt,jdbcType=VARCHAR},
      </if>
      <if test="attr1 != null">
        ATTR_1 = #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null">
        ATTR_2 = #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null">
        ATTR_3 = #{attr3,jdbcType=VARCHAR},
      </if>
      <if test="attr4 != null">
        ATTR_4 = #{attr4,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=DATE},
      </if>
      <if test="editorId != null">
        EDITOR_ID = #{editorId,jdbcType=VARCHAR},
      </if>
      <if test="editedTime != null">
        EDITED_TIME = #{editedTime,jdbcType=DATE},
      </if>
      <if test="belongOrgId != null">
        BELONG_ORG_ID = #{belongOrgId,jdbcType=VARCHAR},
      </if>
    </set>
    where MSZH_ID = #{mszhId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.superwork.apcosplatform.domain.PZnsbMszh">
    update P_ZNSB_MSZH
    set MSZH_MC = #{mszhMc,jdbcType=VARCHAR},
      MSZH_GJZ = #{mszhGjz,jdbcType=VARCHAR},
      MSZH_ZT = #{mszhZt,jdbcType=VARCHAR},
      ATTR_1 = #{attr1,jdbcType=VARCHAR},
      ATTR_2 = #{attr2,jdbcType=VARCHAR},
      ATTR_3 = #{attr3,jdbcType=VARCHAR},
      ATTR_4 = #{attr4,jdbcType=VARCHAR},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=DATE},
      EDITOR_ID = #{editorId,jdbcType=VARCHAR},
      EDITED_TIME = #{editedTime,jdbcType=DATE},
      BELONG_ORG_ID = #{belongOrgId,jdbcType=VARCHAR}
    where MSZH_ID = #{mszhId,jdbcType=VARCHAR}
  </update>
  <select id="listMs" parameterType="com.superwork.apcosplatform.domain.PZnsbMszh" resultMap="BaseResultMap">
    SELECT * FROM P_ZNSB_MSZH
  </select>
</mapper>